doctype html5
html
  head
    meta(charset="utf-8")
    title Parallax Practice
    meta(name="description", content="Just a Parallax Practice")
    meta(name="author", content="Marco Ledezma <marcoledemzmacordero09@gmail.com>")
    meta(name="viewport", content="width=initial-scale=1.0")
    link(rel="stylesheet", href="css/styles.css")
    link(href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat" rel="stylesheet")
  body
    header.bridge-box
      .back-girl
      .logo
      .fore-dog

    section.content
      article

        h1 Parallax Background

        hr

        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel lobortis elit. Etiam id nisl vel lacus fermentum dapibus. Nunc varius odio at nulla volutpat faucibus. In aliquam elit sed tellus dignissim maximus. Cras sed gravida velit, ac vulputate leo. Donec id dui vitae tortor consequat lobortis sed at nulla. Maecenas sit amet arcu nec turpis cursus ornare nec sed ex. Aenean egestas dolor et magna gravida, interdum vehicula orci vestibulum. Phasellus gravida magna lacus, et sollicitudin eros tincidunt ut. Morbi tincidunt sem quis posuere feugiat. Maecenas dignissim nisi non ligula convallis, vel mollis sem porta. Nam eleifend libero ac risus lobortis, nec volutpat massa dictum. Integer finibus nibh eu justo volutpat ornare. Praesent sollicitudin ligula diam, ut tristique metus molestie accumsan. Cras tincidunt blandit mi, eu iaculis risus. Maecenas in dignissim odio.

        div(style="height: 2000px")

        script(src="js/jquery-3.2.1.min.js")
        script(src="js/main.js")